@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

body {
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 18px;
  height: 100vh;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
}

@media (min-width: 375px) {
  .hero {
    background-image: url(../images/bg-header-mobile.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
  }
  .logo {
    background-image: url(../images/logo.svg);
    background-position: center;
    background-repeat: no-repeat;
    height: 180px;
    padding: 40px 0 0 0;
  }
  .heading {
    padding: 0 40px;
    text-align: center;
  }
  .heading p {
    color: hsl(210, 10%, 33%);
    font-size: 30px;
    font-weight: 600;
  }
  .sub-heading {
    padding: 0 24px;
    text-align: center;
  } 
  .sub-heading p {
    color: hsl(201, 11%, 66%);
    font-weight: 400;
    padding-top: 20px;
  }
  .buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 40px;
  }
  }
  .ios {
    background-color: hsl(171, 66%, 44%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 60px;
    height: 50px;
    width: 85%;
    margin-bottom: 20px;
    box-shadow: 4px 10px 27px rgba(0, 0, 0, 0.2)  ; 
    -webkit-box-shadow: 4px 10px 27px rgba(0, 0, 0, 0.2)  ; 
    -moz-box-shadow: 4px 10px 27px rgba(0, 0, 0, 0.2)  ; 
  }
  .ios p,
  .mac p {
    margin-top: 14px;
    font-weight: 400;
  }
  .mac {
    background-color: hsl(233, 100%, 69%);
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    border-radius: 60px;
    height: 50px;
    width: 85%;
    box-shadow: 4px 10px 27px rgba(0, 0, 0, 0.2)  ; 
    -webkit-box-shadow: 4px 10px 27px rgba(0, 0, 0, 0.2)  ; 
    -moz-box-shadow: 4px 10px 27px rgba(0, 0, 0, 0.2)  ; 
  }
}